*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 13px;
}
body {
    height: 100vh;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1100;
    min-width: 1000px;
    overflow-x: auto;
}
/* Flexbox */
.d-flex {
    display: flex !important;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.pointer{
    cursor: pointer;
}
/* Position */
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}
.dis-flex-column{
    flex-direction: column !important;
}
.dis-flex-row{
    flex-direction: row !important;
}
.dis-flex-grow{
    flex-grow: 1;
}
.flex-col{
    flex-direction: column;
}
/* Margin Setting */
.mx-3{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
/* Margin Setting */
.m-r-24{
    margin-right: 24px;
}
.m-r-20{
    margin-right: 20px;
}
.m-r-10{
    margin-right: 10px;
}
.m-t-3{
    margin-top: 3px;
}
.mr-3{
    margin-right: 1rem !important;
}
.m-r-8{
    margin-right: 8px;
}
/* Padding Setting */
.p-l-16{
    padding-left: 16px;
}
.pl-2{
    padding-left: .5rem !important;
}
.bg-white{
    background-color: #fff !important;
}
.no-bg{
    background: none !important;
}
.no-box-shadow-hover:hover{
    box-shadow: none !important;
}
/* Button */
.btn-secondary-2{
    background-color: transparent !important;
    border-color: #e0e0e0 !important;
}
.btn{
    height: 36px !important;
    font-size: 14px !important;
    padding: 7px 16px !important;
    border-radius: 4px !important;
    border: 1px solid #e0e6ec;
    color: #1e2633;
}
.btn-primary{
    background-color: #2680eb !important;
    color: #ffffff !important;
    border-color: transparent !important;
}
.btn-primary:hover {
    color: #fff;
    border-color: #0062cc;
}
.btn-primary:hover {
    background-color: #4097ff !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
/* Control Panel */
.apui-user-controlpanel-item{
    width: 32px;
    height: 32px;
    margin-right: 12px !important;
    margin-top: 0 !important;
    border-radius: 16px;
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    overflow: unset;
    cursor: pointer;
}
/* a element */
a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
/* Size */
.h-100{
    height: 100% !important;    
}
.w-100{
    width: 100% !important;    
}
/* Icon, Text */
.item-icon{
    margin: unset;
}
.icon-text{
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-left: 12px;
    font-weight: 500;
    font-size: 16px;
}
/* Border */
.border{
    border: 1px solid #dee2e6!important;
}
/* Toolbar */
.wrap-icon-button-toolbar{
    background-color: #ffffff;
    height: 35px;
    padding: 8px;
    border: 1px solid #e0e6ec;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.wrap-icon-button-toolbar:hover{
    border: 1px solid #2680eb !important;
    background-color: #2680eb1a !important;
}
.ic-svg{
    margin-bottom: 2px !important;
}