.table-scroll {
  max-height: calc(100vh - 320px); /* bạn có thể chỉnh số này */
  overflow: auto;
}

.table-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.table-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.table-scroll::-webkit-scrollbar-thumb {
  background: #c9cdd3;
  border-radius: 8px;
}
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #aeb4bd;
}

.table-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c9cdd3 transparent;
}
